[2020-09-14 23:41] fivetran-kristin opened #5 "engagement_meeting.meeting_outcome Missing from source table"
We need to figure out a sophisticate way to account for these scenarios.  As a short-term solution, we can remove this field from the model.

[2020-09-22 22:29] ryan-tangocard opened #7 "_fivetran_deleted filtering issues"
I noticed that the `hubspot\models\marketing\hubspot__contacts.sql` wasn't producing any results and after doing some digging see that `hubspot_source\models\stg_hubspot__contact.sql` is filtering on `where _fivetran_deleted is null`.

As I am writing this - I did a quick search in the Release Notes for this connector and see that `CONTACT` table tracks deletions as of Aug 2020 and we added this a

[2020-11-05 20:21] fivetran-jamie commented on #7
hey there - thanks for surfacing this, and apologies for the wait! this should be solved by the most recent [release](https://github.com/fivetran/dbt_hubspot_source/releases/tag/v0.2.0) of the source package, which now filters on `where not coalesce(_fivetran_deleted, false)` 😄

[2020-11-05 20:21] #7 closed

[2020-11-16 00:52] joshuataylor opened #29 "Models still created when `_enabled: false` is set"
Hi!

We have this in our `dbt_project.yml`:
[code]

But these are still created.

[2021-02-11 04:33] fivetran-kristin commented on #29
Hey @joshuataylor, apologies for the delayed response!

The problem here is that you need to update the variables for both the hubspot_source & hubspot packages, or define the variables as global.  So, for example:

[code]

OR

[code]

[2021-02-11 04:33] #29 closed

[2021-02-16 23:19] fivetran-kristin opened #30 "Feature Request - Deal_stage modeling"
This will be added to the next release of Hubspot:

Model DEAL_STAGE (which has History Mode) in both Hubspot source & transformation packages.

[2021-02-28 15:17] fadhguru opened #31 "`engagement_tasks` model trying to pull missing column `probability_to_complete`."
Thank you for the great work done on this package. There appears to be a schema-mismatch issue that's preventing this package to be usable right now.

I can confirm that the `probability_to_complete` is not present in the current schema for the `engagement_tasks` table. The fivetran connection was created a week ago with no all schemas enabled.

The problem also is simply having `hubspot_engagemen

[2021-03-16 22:11] fivetran-jamie commented on #5
was this solved by introducing the staging model [macros](https://github.com/fivetran/dbt_hubspot_source/blob/master/macros/get_engagement_meeting_columns.sql)?

[2021-03-19 18:19] fivetran-kristin commented on #5
Yes, thank you!

[2021-03-19 18:19] #5 closed

[2021-03-22 15:27] fivetran-joemarkiewicz commented on #31
Hi @fadhguru thank you for opening this issue. From the generated SQL you provided, it seems you are using our v0.1.0 release of the HubSpot dbt package. the v0.2.0 release of this package will fix the issue you are seeing with the `probability_to_complete`.

Please use the below snippet to update your dependency within your `packages.yml` file:
[code]

After updating your `packages.yml` file, I w

[2021-03-24 20:35] Spince commented on #30
@fivetran-kristin any idea when the next release is planned?

[2021-03-25 00:26] fivetran-kristin commented on #30
@Spince thanks for the ping here. We're actually in the middle of a 2-week package maintenance sprint and this is on our list.

I do have a question for you -- What deal_stage related metrics do you want to see in the transform package?

[2021-03-25 20:43] Spince commented on #30
@fivetran-kristin thank you! our analysts are giving this some thought (and familiarizing themselves with the existing transformed models as they're new for us). should have a response by EOD tomorrow

[2021-03-26 22:46] raphshin commented on #30
Hi @fivetran-kristin - following up on the last comment by @Spince. Please see the wishlist of fields for DEAL_STAGE:

deal_stage_id
deal_stage_name
deal_pipeline_id
deal_pipeline_name
company_id
company_name
timestamp: entering the specific stage_id
timestamp: exiting/moving to different stage_id
stageisactive
piplineisactive
deal_owner_id
deal_owner_name

I have a question though. What is the ma

[2021-03-29 17:11] dwallace0723 opened #35 "Deal ID duplication in hubspot_deals model"
We recently attempted an upgrade to `0.3.0` and noticed that during our CI run, a [schema test](https://github.com/fivetran/dbt_hubspot/blob/master/models/sales/sales.yml#L8-L12) was suddenly failing:

[code]

After digging into the test failure, we noticed that the `deal_id` duplication was stemming from [these lines of code](https://github.com/fivetran/dbt_hubspot/blob/master/models/sales/hubspo

[2021-03-30 14:47] fivetran-joemarkiewicz commented on #35
Hi @dwallace0723 thank you for opening this issue!

This is extremely helpful as it is a relationship we had not experienced with our testing dataset. I will take some time to update this logic to reflect the reality you have shown us. I will respond back here with a working branch dependency you can use to test if my updates resolve the schema test failure on your end.

[2021-03-30 17:47] fivetran-joemarkiewicz commented on #35
@dwallace0723 through some digging I noticed we added these lines of code as a result of an [Issue](https://github.com/fivetran/dbt_hubspot_source/issues/5) which was opened in the dbt_hubspot_source repo.

Our approach to rectify the test failure you are seeing would be to do a string_agg on the company for each deal. However, I am unsure if this would provide much value. I am interested to get y

[2021-03-30 18:25] fivetran-joemarkiewicz commented on #35
It looks like ^ @fivetran-jamie was able to get a response from the original issue creator from the source package and it will make the most sense to remove this logic from the transform package.

Thanks again for opening this issue and I will update this logic to be removed in the next release. I will post here once I am able to cut a new release with these changes reflected.

[2021-03-30 18:40] dwallace0723 commented on #35
excellent - thanks @fivetran-joemarkiewicz!

[2021-03-30 22:14] dwallace0723 commented on #35
Thanks @fivetran-jamie and @fivetran-joemarkiewicz! Really appreciate the quick responses here 🙂

[2021-03-31 23:49] kaufmannie commented on #30
@fivetran-kristin - would it be helpful if a create an issue to add deal_stages model on the dbt_hubspot_source repo as well? or is that just duplicative?

[2021-04-01 14:00] fivetran-joemarkiewicz commented on #30
Hi @kaufmannie I am currently working on adding some Service Hub staging models to the source package so I can easily include the deal_stage model as well to work with this release!

@raphshin Thank you for your wishlist! I'll work on getting these integrated soon. Stay tuned for another message from me when I have a working branch so you may test it out before release if you would like to provide

[2021-04-02 20:39] fivetran-joemarkiewicz commented on #30
Hi @kaufmannie , @raphshin , and @Spince!

Good news, we were able to complete the working branch with the `deal_stage` updates you requested for both the source and transform packages. If you have time we would greatly appreciate your feedback and input on these changes prior to us merging and releasing the new version. You may update the hubspot dependency within your `packages.yml` to the below

[2021-04-06 15:33] fivetran-joemarkiewicz commented on #31
Hi @fadhguru with the release of v0.2.0 the issue you originally opened should be fixed. I will close this ticket as I assumed the issue is not persisting on your end.

If the issue is still present for you, I ask you open another issue and we can continue from there. Thank you!

[2021-04-06 15:33] #31 closed

[2021-04-08 13:53] leinemann opened #38 "Typo's in readme"
I've noticed a typo in the readme that I'm quite happy to fix if I get the rights to create a PR.
`hubspot_email_event_spam_report` should be `hubspot_email_event_spam_report_enabled` . As the typo is in the VARs that likely will be copied by folks it would be good to fix.
Also this line is a duplicate:   hubspot_email_event_click_enabled: false

[2021-04-08 14:24] fivetran-joemarkiewicz commented on #38
Hi @leinemann thanks for catching these and we appreciate you letting us know so other folks don't copy and paste the wrong variable configs in their `dbt_project.yml`!

I implemented these fixes within the open PR #37

[2021-04-08 16:54] leinemann opened #39 "email_metrics should not be redefined in email_campaigns"
redefining the email_metrics var in email_campaigns causes the top level var to get ignored and hence causes failures when the user wants to disable for example `unsubscribes` from the dbt_project.yml.

https://github.com/fivetran/dbt_hubspot/blob/522c29b5553e9582337953865c59224f6eaf84dc/models/marketing/hubspot__email_campaigns.sql#L3

removing the email_metrics declaration above will fix the iss

[2021-04-09 15:21] fivetran-joemarkiewicz commented on #39
Hi @leinemann thank you for opening this issue! I have since created PR #40 to address this issue.

[2021-04-09 20:23] #38 closed

[2021-04-09 20:27] fivetran-joemarkiewicz commented on #39
Hi @leinemann this bug has been addressed and you will now be able to declare the variable appropriately within your `dbt_project.yml` without the `hubspot__email_campagins` model overriding the variable. The PR has since been merged and a new `v0.3.2` release of the package has been cut. You should see this new version of the package live on the [dbt hub](https://hub.getdbt.com/) most likely by M

[2021-04-09 20:27] #39 closed

[2021-04-09 20:31] fivetran-joemarkiewicz commented on #30
Hi @kaufmannie , @raphshin , and @Spince

We have since merged the changes from PR #37 to master and cut a new `v0.3.2` release of the dbt_hubspot package. You should see this new release live on the [dbt hub](https://hub.getdbt.com/) most likely by Monday!

With the addition of the `hubspot__deal_stages` model, this Issue can be closed. If you have additional questions related to this Issue pleas

[2021-04-09 20:31] #30 closed

[2021-04-14 22:38] joellabes opened #41 "Freshness checks fail for sources whose tables are excluded from sync"
We have disabled the email events with `hubspot_email_event_enabled: false` because we're not syncing them. The freshness test doesn't seem to have been disabled though as we get this error message:
[code]

Is there a way to stop the table from being freshness tested? I can't overwrite it with null like I could if I controlled the `schema.yml` file.

We also disabled another table (`contact_proper

[2021-04-15 17:02] fivetran-kristin commented on #41
Thanks for creating this @joellabes

(internal note for fivetran) -- For future reference, these may be good resources:
- https://github.com/fishtown-analytics/dbt/issues/2428
- https://github.com/fishtown-analytics/dbt/blob/9d0eab630511723cd0bc328f6f11d3ffe6c8f879/core/dbt/include/global_project/macros/adapters/common.sql#L287-L303

[2021-05-11 13:18] fivetran-joemarkiewicz opened #42 "Broken Links to Models in README"
It seems the links within the README that point to the models are broken and not pointing to the correct models within the `sales` and `marketing` folders.

[2021-06-07 15:48] fivetran-jamie commented on #41
hey there @joellabes -- i think we've come up with a neat solution for this. could you run freshness tests using the following branch of the package to test it out? if `hubspot_email_event_enabled` is set to false, freshness tests should "pass" for disabled source tables
[code]

[2021-06-07 16:23] fivetran-joemarkiewicz commented on #42
@fivetran-jamie thanks for updating this!

I don't believe the existing issue on this repo impacts the transform package? If not, we can go ahead and cut a new non-breaking release.

[2021-06-07 19:35] fivetran-joemarkiewicz commented on #42
Thanks @fivetran-jamie for cutting the new release!

[2021-06-07 19:35] #42 closed

[2021-06-15 20:40] fivetran-jamie commented on #41
hey just pushed a [release](https://github.com/fivetran/dbt_hubspot_source/releases/tag/v0.3.3) of the source package with this fix! the transform package already references the [most up-to-date version](https://github.com/fivetran/dbt_hubspot/blob/master/packages.yml) of the source package, so you should automatically see this fix next time you run dbt deps

[2021-06-15 20:40] #41 closed

[2021-06-21 19:27] khookguy opened #45 "BUG - alias not working"
**Are you a current Fivetran customer?**
Yes.
Mark Hansen
Consultant
Edcura

**Describe the bug**
alias fails to rename the hubspot__contact fields 'first_name' and ''last_name' to 'firstname' and 'lastname'

**Steps to reproduce**
1. Add the following code to dbt_project.yml
[code]
2. Run `dbt -m hubspot --full-refresh`
3. Example the table `hubspot__contacts`
4. You will see the table has column

[2021-06-22 01:09] joellabes commented on #41
Hey @fivetran-jamie this is great, thanks! Sorry for the late reply - I was on leave. Will let you know if we run into any issues 🌟

[2021-06-22 01:22] khookguy commented on #45
mistake is mine. putting hubspot__contact_pass_through_columns in the wrong place ...

[2021-06-22 01:22] #45 closed

[2021-06-28 18:54] fivetran-joemarkiewicz opened #46 "BUG - Duplicate Contacts from Merged Contacts"
**Are you a current Fivetran customer?**

Issue identified by Marion Pavillet

**Describe the bug**

Our integration to the datawarehouse is done with fivetran. Deletions are caught properly with a deleted flag that is correctly ignored by the package.
Everything runs smoothly except for some tests related to contacts being unique in the email_events aggregated table:
[code]
I did some investigati

[2021-06-29 20:20] DylanBaker commented on #46
@fivetran-joemarkiewicz Hey. This makes sense. What's weird about the Hubspot data is that the information about the merge is on the contact that has been merged _into_, not on the contact that has been merged. There's a column called `merged_vids` which is an array of the contact IDs that have been merged into a given contact.

I think to filter these out we would need to grab the unique set of I

[2021-06-29 21:53] fivetran-joemarkiewicz commented on #46
Thanks for looking into this @DylanBaker. I was not aware of the `merged_vids` column previously, but looking into it I see how it stores both the merged contact and contacts that have been merged into it.

My one curiosity is that on the dataset I have available it seems that the merged contacts no longer exist within the `contact` table? I wonder why the customer is still seeing these merged con

[2021-07-15 15:42] bthomson22 opened #48 "BUG - Typo in email_sends model"
**Are you a current Fivetran customer?**

Brandon Thomson, Marketing Analytics Engineer @ dbt Labs

**Describe the bug**

This is a simple issue - in the `email_sends` model the field `was_deferred` is spelled `was_deffered`. By fixing this typo, the field will be consistent across other models.

**Steps to reproduce**
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

N/A

*

[2021-07-16 02:45] fivetran-joemarkiewicz commented on #48
Thanks again for opening this issue. This typo has been resolved in the latest `v0.4.0` release of the hubspot package!

[2021-07-16 02:45] #48 closed

[2021-08-05 16:31] leinemann opened #52 "QUESTION - what does the Campaign ContentId relate to?"
**Are you a Fivetran customer?**
Yes, Chistoph, Sustain.life

**Your Question**
I'm seeing content_id in the campaign
      - name: content_id
        description: The ID of the content.

What is this referring to?  I would have expected a table with contents which i don't see.  My hope is to see the email body somewhere?

**Additional context**
see above

**Please indicate the level of urgency an

[2021-08-06 16:02] fivetran-joemarkiewicz commented on #46
This feature has been integrated within the latest `v0.4.1` release of the dbt_hubspot package. FYI the feature is disabled by default and you may enable the contact merge auditing by setting the `hubspot_contact_merge_audit_enabled` to `true`.

[2021-08-06 16:02] #46 closed

[2021-08-09 13:41] fivetran-joemarkiewicz commented on #52
Hi @leinemann you are correct that the `content_id` relates to the body of the email. However, after chatting with our internal team it seems we do not bring the content object into our existing schema for the HubSpot connector.

I see you are looking at possibly building out a custom call to HubSpot for this object. Does it seem this information would be useful? It could work to possibly open a f

[2021-08-09 13:57] leinemann commented on #52
Ok, great, thanks for looking into this @fivetran-joemarkiewicz.  I've raised this feature request: https://support.fivetran.com/hc/en-us/community/posts/4405935477015-Connector-Improvement-Bring-in-Content-object-from-hubspot-to-be-able-to-resolve-the-content-id

[2021-08-09 13:59] fivetran-joemarkiewicz commented on #52
Of course! Thanks for opening the feature request. I will close this issue as you have now opened the new ticket on our support portal. Please feel free to reopen this ticket or open a new one if you have any future questions.

Thanks 😄

[2021-08-09 13:59] #52 closed

[2021-08-11 20:23] brettkobo opened #53 "BUG - hubspot_engagment_task CASTING error"
**Are you a current Fivetran customer?**
Hello name name is Brett Kobold and I am currently a customer of Fivetran under the account Retina.AI

**Describe the bug**
When I run the models, I get an error for the **hubspot_engagment_table**. I have pasted the error below. I am not sure what coloum is failing to CAST and I believe I do not have custom properies on engagments.

[code]
**Steps to repro

[2021-08-11 20:27] brettkobo opened #54 "FEATURE - Ability to shut off history tables individually."
**Are you a Fivetran customer?**
Brett Kobold, Director of Analytics @ Retina.AI

**Is your feature request related to a problem? Please describe.**
Kinda. I would like the option to disable the history tables. I currently have them turned off in Fivetran to save on rows as I do not need them at the moment for the type of reporting I am doing.

**Describe the solution you'd like**
I would love a p

[2021-08-11 20:47] fivetran-joemarkiewicz commented on #53
Hi @brettkobo thanks so much for raising this issue. This issue is most likely related to [this PR](https://github.com/fivetran/dbt_hubspot_source/commit/65af7f80c17f26d16b5fc828fe7ac52b3dae7c7f) from our [dbt_hubspot_source](https://github.com/fivetran/dbt_hubspot_source) package. The legacy version of the hubspot connector synced the `completion_date` field within the `engagement_task` table as

[2021-08-11 21:45] brettkobo commented on #53
Looks like it is coming out of Fivetran as a timestamp_tz(9). I am also able to query the raw table from Snowflake with no problem. So I assume it is working correctly from there.

![image](https://user-images.githubusercontent.com/8419147/129107361-01afb9b4-36d4-4b09-8655-74bda14900e1.png)

[2021-08-11 21:47] brettkobo commented on #54
Hey Joe!

Thanks for responding. I would love to learn more how these packages are built. I can't guarantee I can do it but I will give it shot. If you haven't seen me push a PR by the time you get started on it, assume I wasn't able to do it. I just started with with DBT today but have been wanting to get deeper into it.

- brett

[2021-08-11 23:32] fivetran-joemarkiewicz commented on #53
@brettkobo thanks so much for providing the screenshot, this is extremely helpful! It looks like the datatype for the `completion_date` has changed in the newer version of the hubspot connector.

Previously this field was synced as a string and our package correctly changed the datatype to a timestamp. However, now it is being synced as a timestamp and understandably snowflake does not want to cas

[2021-09-10 21:37] fivetran-joemarkiewicz commented on #53
Hi @brettkobo I apologize for the delayed response. I have been able to dive into this a bit more and was able to push a commit to a working branch that I feel should resolve this error. You can give this a try by using the below config in your `packages.yml`.
[code]
I am still working with our product team to gain an understanding of why this field may have a different datatype in other warehouse

[2021-09-17 14:34] fivetran-joemarkiewicz commented on #53
Hi @brettkobo just wanted to check back in if this update ended up working for you?

[2021-09-21 15:40] #53 closed

[2021-10-14 21:32] fivetran-jamie opened #55 "FEATURE - databricks and postgres compatibility"
**Are you a Fivetran customer?**

nope!

**Is your feature request related to a problem? Please describe.**

No, just want to roll out postgres + databricks compatibility for our most popular packages.

**Describe the solution you'd like**

make it compatible with both!

**Please indicate the level of urgency and business impact of this request**

Does not seem urgent, but did come out of a custom

[2021-12-15 13:43] d0m-1n-1c opened #58 "BUG - email_events_joined macro joins on email address which is not unique in contact"
**Are you a current Fivetran customer?**
Dominic, Data Engineer at Rezdy

**Describe the bug**
The macro `email_events_joined`  has the below join
[code]

We have duplicate emails in contacts (`stg_hubspot__contact`).
These emails have different contact ids but the email address is the same.
Although an edge case there doesn't appear to be a rule against it

**Steps to reproduce**
1. Have two diff

[2021-12-15 15:09] fivetran-joemarkiewicz commented on #58
Hi @d0m-1n-1c thanks so much for opening this issue!

We actually may have just what is needed to filter out those duplicate contacts! We found that HubSpot provides the functionality to "merge" contacts. However, we noticed this needs to take place in a downstream model. As such, we added a variables `hubspot_contact_merge_audit_enabled` that will remove these duplicate contacts.

This variable i

[2021-12-16 01:19] d0m-1n-1c commented on #58
Hi @fivetran-joemarkiewicz thanks for getting back to me so quickly!

I completely glazed over that variable!!

I've implemented it and the number of duplicates has been reduced but the tests are still failing.
It looks like there are two persisting issues:
1. Hubspot contacts that are not yet merged which we can manually handle
2. A few contacts that are merged but still appear inside our `contac

[2021-12-20 16:42] fivetran-joemarkiewicz commented on #58
Hi @d0m-1n-1c,

After thinking about this one for a while, I am pretty sure the variable logic for filtering out merged contacts should capture all appropriate contacts. That being said, I am not entirely sure why there are still a few that are still slipping through the cracks.

I think this may be a better question geared for our [Connector Support](https://support.fivetran.com/hc/en-us) team. T

[2021-12-31 00:55] ericalouie opened #60 "BUG - Upgrading Hubspot/Hubspot Source to 0.5.0: Test issues"
**Are you a current Fivetran customer?**
Name: Erica Louie
Title: Head of Data
Company: dbt Labs

**Describe the bug**
1. In the stg_hubspot_engagements.yml` file, there are two models with tests that do not exist in the package ([see file here](https://github.com/fivetran/dbt_hubspot_source/blob/main/models/stg_hubspot__engagement.yml#L137-L171))
     a.  `stg_hubspot__engagement_email_cc`
     b

[2022-01-04 15:13] fivetran-joemarkiewicz commented on #60
Hi @ericalouie thanks so much for opening this Issue!

At a high level, I have noticed similar warning messages across our packages since upgrading to dbt v1.0.0. It seems these warnings didn't populate in previous iterations of dbt, but now dbt v1.0.0 is helpfully raising them!

I looked into both of your points and found the following solutions:

- It seems these two models never existed in this

[2022-01-26 21:22] fivetran-sheringuyen commented on #60
Hi @ericalouie!

Thank you so much for bringing this issue to our attention. I have gone ahead and pushed a bugfix release removing the two models `stg_hubspot__engagement_email_cc` and `stg_hubspot__engagement_email_to` from `stg_hubspot__engagement.yml`. This should resolve the respective warnings for these two models. Please watch out for the 0.5.2 release of the `dbt_hubspot_source` package

A

[2022-01-26 21:22] #60 closed

[2022-01-31 19:20] scotthibberd opened #61 "BUG - Deal and deal stages data type join mismatch on Redshift"
**Are you a current Fivetran customer?**
Yes. Scott Hibberd - Infogrid, BI Analyst

**Describe the bug**
Running `dbt run` returns an error for the `hubspot__deals` and `hubspot__deal_stages` models

The error I receive is `JOIN/USING types bigint and character varying cannot be matched`

**Steps to reproduce**
1. Import the Fivetran Hubspot package
2. Run `dbt run`

**Expected behavior**
Models s

[2022-01-31 19:29] fivetran-joemarkiewicz commented on #61
Thanks for opening this @scotthibberd!

This is a fix we most likely would want to apply to the package. However, we would want to do it a bit differently than the fix you shared to make it dynamic for users using this package on other warehouses.

What we would want to do is cast the fields within the `dbt_hubspot_source` package and then apply the left join as you have shown, but without the cas

[2022-01-31 21:18] scotthibberd commented on #61
That makes sense in terms of making the fix more dynamic. Please could you open the PRs for that?

Thanks for your help.

[2022-01-31 22:41] fivetran-joemarkiewicz commented on #55
- [X] Postgres compatibility
- [ ] Databricks compatibility

[2022-01-31 22:45] fivetran-joemarkiewicz opened #62 "FEATURE - Adjust Join Conditions"
**Are you a Fivetran customer?**

Fivetran created Feature Request

**Is your feature request related to a problem? Please describe.**

The customer that raised Issue #61 found a join condition that leveraged `using` was not working as intended due to a datatype error. The datatype error was able to be resolved within the source package. However, we should practice using `left join` for our join c

[2022-01-31 22:50] fivetran-joemarkiewicz commented on #61
Hi @scotthibberd I have been able to open the above noted PRs to apply this quick fix.

I actually found that we should be casting these fields to a string type since the IDs in my data are not consistently integers. Regardless, I was able to apply the fixes and have found the package to compile and run as intended locally. Before I open my PR for review and merge any changes, it would be great if

[2022-01-31 23:15] scotthibberd commented on #61
Amazing - thanks @fivetran-joemarkiewicz ! I've just tested it and that's working for me now.

[2022-02-01 21:10] fivetran-joemarkiewicz commented on #61
@scotthibberd these updates are now live in the latest versions of the [hubspot package](https://hub.getdbt.com/fivetran/hubspot/latest/). Thanks so much for raising this issue.

I will close this issue, but please feel free to open a new issue if you encounter and other questions or errors.

[2022-02-01 21:10] #61 closed

[2022-05-10 18:45] fivetran-joemarkiewicz commented on #58
Hi @d0m-1n-1c

I am closing this issue as opening the support ticket would ideally have solved this issue. Please feel free to open this issue if you are still seeing the error.

[2022-05-25 05:41] fivetran-joemarkiewicz opened #68 "[Bug] valid_to within hubspot__company_history needs to be adjusted"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

The current logic for the `valid_to` field within the `hubspot__company_history` model is as follows:

https://github.com/fivetran/dbt_hubspot/blob/2c8c15a2fb56b59a47d758ccaa0046b6c552c136/models/sales/history/hubspot__company_history.sql#L17

However, this model is intended to represent th

[2022-05-27 10:10] ramiouanes commented on #68
Hello @fivetran-joemarkiewicz ,

I just wanted to inform you that this issue was also found on the Deal & Contact history models.
Would it be possible to fix those too?

It would be great to have a timeline on this too, as we are currently unable to deploy our dbt logic on PROD and schedule it through Fivetran. We have to launch our code locally and manually until this is fixed. Meaning that this

[2022-05-27 18:57] fivetran-joemarkiewicz commented on #68
HI @ramiouanes thanks for highlighting that for us!

We will most likely be picking this issue up in our next sprint (starting next Wednesday 6/1 and ending 6/15). However, if you would like a more immediate fix, you can actually fork this repo and apply the changes highlighted to your fork. You can then install your forked repo instead of the official version of this package using the [git packag

[2022-06-14 14:29] fivetran-sheringuyen commented on #68
Happy Tuesday @ramiouanes! I just cut a release for dbt_hubspot v0.5.3 and the updates outlined in this PR should be ready to go in the next couple of hours, please watch out for it on the dbt package hub! :)

[2022-06-14 15:16] #68 closed

[2022-07-11 08:17] moseleyi opened #71 "[Feature] <title>Overwrite dbt_project.yml"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

I need to be able to overwrite the default settings for database and schema from dbt_project.yml. I keep my development transformations in different database and use this line:
`+database: "{{ env_var('DBT_SNOWFLAKE_ENV') }}"` but I can't apply it to the package?

### Describe a

[2022-07-11 08:21] #71 closed

[2022-07-12 06:52] moseleyi opened #72 "Unique assertions are failing for certain tables"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

I'm getting failures on some assertions for uniqueness in event_id columns.

### Relevant error log or model output

[code]

### Expected behavior

No Failures

### dbt Project configurations

[code]

### Package versions

[code]

### What database are you using dbt with?

snowflake

### db

[2022-07-12 07:00] #72 closed

[2022-07-12 07:00] moseleyi commented on #72
Turns out this can be caused when Contacts in hubspot have multiple accounts for the same email

[2022-07-19 08:43] moseleyi opened #73 "[Feature] Add custom properties to the base models"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

How to add custom properties to, for example, Deal object. The package creates a transformation with basic values only

### Describe alternatives you've considered

_No response_

### Are you interested in contributing this feature?

- [ ] Yes.
- [ ] Yes, but I will need assista

[2022-07-27 21:58] fivetran-joemarkiewicz commented on #73
HI @moseleyi thank you so much for creating this feature request. Would you be able to elaborate a bit more in regards to what the custom properties are that you detailed above?

[2022-08-01 10:02] #73 closed

[2022-08-01 10:06] moseleyi opened #75 "Deal Pipeline Stage Label is duplicated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Here is an extract for a deal that has two different stages:

![image](https://user-images.githubusercontent.com/16131590/182124910-564b601e-3439-4137-926e-f55911d867cf.png)

The stage_ids are properly mapped in `stg_hubspot__deal_pipeline_stage`

But then, `hubspot__deal_stages` shows the

[2022-08-01 17:07] fivetran-joemarkiewicz commented on #75
Hi @moseleyi thanks so much for opening this Issue!

This definitely seems like a behavior that is not intended and should be addressed. I did some querying on my side as well and found the same results you are mentioning where the same stage is applied to each stage in the final model for the deal.

I looked a bit closer and found that we seem to filter out inactive stages in our staging model.
h

[2022-08-02 07:34] moseleyi commented on #75
Since it's a historical table, the active flag is completely redundant, as we want to see all past stages regardless of their current status.

I ran the models without the `WHERE` clause you mentioned. Suddenly the deal ID has disappeared from `hubspot__deal_stages` AND `hubspot__deals`, even though it's still there in `stg_hubspot__deal_stage`.

I'm not sure this is it because when I look at `stg

[2022-08-04 07:42] moseleyi commented on #75
Any news? It's critical bug as it stops being able to analyse deal stages

[2022-08-04 14:40] fivetran-joemarkiewicz commented on #75
Hi @moseleyi thanks for getting back with these details. I was able to look into this some more and found that removing the filter didn't have the same effect you are mentioning where the `deal_id` seems to be removed. Would you be able to swap your `packages.yml` dependency on the hubspot package for the one below:

[code]

Let me know if this resolves the issue on your end!

[2022-08-05 06:57] moseleyi commented on #75
This is what I'm getting:

[code]

[2022-08-05 07:10] moseleyi commented on #75
Still seeing the same results:

hubspot.deal_stages
![image](https://user-images.githubusercontent.com/16131590/183022088-d37d7fbc-3bae-40e3-81bd-6e4ad4b036ef.png)

stg_hubspot__deal_stage
![image](https://user-images.githubusercontent.com/16131590/183022159-5e471d16-e4fe-4964-9ee0-ed1de34de3bc.png)

[2022-08-05 07:19] moseleyi commented on #75
This code:
[code]

Is a little bit weird. Why do we bring all the deals' data to deal stages? That's why my query returns the label only of the current one. I expected the `pipeline_stage_label` to be related to `deal_stage_name` not to the current deal's one

[2022-08-05 07:21] moseleyi commented on #75
I added this:
[code]

To get the name of each stage

[2022-08-17 23:27] fivetran-jamie commented on #75
hey @moseleyi - so yes you are correct in that we are only grabbing pipeline stage information for the deal's _current_ stage, which doesn't make sense for the `hubspot__deal_stages` model.

i've adapted your logic from the query above and joined in information for _each_ stage if you wanna try out this branch again!
[code]

[2022-08-18 08:43] moseleyi commented on #75
Thanks @fivetran-jamie for the update. Because we bring all the data from Deals to Deal Stages, I'm still confused as to which field corresponds to the stages. `pipeline_stage_label` is stil a current stage because it's being taken from deals. Bringing all the data from parent to child table causes a lot of confusion especially since it's a historical table. There's no differentiation in `hubspot_

[2022-08-18 21:33] fivetran-jamie commented on #75
@moseleyi I completely agree -- having the parent `deal` data in there is confusing (and unnecessary, as one could just join with the `hubspot__deals` model)

i've removed the `deal` info (with the exceptions of `deal_id` and `deal_name`) from the `bugfix/deleted-stages` branch if you could re-run and check if things seem clearer/correct

[2022-08-19 07:00] moseleyi commented on #75
Do I need to update the package information?
[code]

When I do `dbt build`, I can't even see the latest code

![image](https://user-images.githubusercontent.com/16131590/185562075-292f32f4-b1b4-4554-86af-f3b11f46bcb5.png)

[2022-08-19 16:53] fivetran-jamie commented on #75
oh hm, if you're in dbt cloud i don't think you can `dbt clean`, but did you `dbt deps` after switching the hubspot package reference?

[2022-08-22 07:06] moseleyi commented on #75
You need to change reference to the deal name field, it's `dealname` not `deal_name` from `deals_enhanced`

[2022-08-22 07:16] moseleyi commented on #75
Apart from that, things are working as expected :)

[2022-08-22 17:42] fivetran-jamie commented on #75
great! i'm a little confused about the dealname issue though...i believe we rename the column to `deal_name` in the [staging model](https://github.com/fivetran/dbt_hubspot_source/blob/main/models/stg_hubspot__deal.sql#L41) -- are you seeing an error somewhere?

[2022-08-23 06:48] moseleyi commented on #75
Indeed I do see an error (after doing dbt deps and dbt build):
![image](https://user-images.githubusercontent.com/16131590/186088071-d6b6d8d3-29a1-4ff0-b9ae-b63ad4ac4c6d.png)

When I look at Fivetran source hubspot.deal table it's `property_dealname`

Then it's renamed to to `deal_name` in `stg_hubspot__deal_tmp` but only in one of the IF statements

[code]

But my value for this variable is actua

[2022-08-23 17:51] fivetran-jamie commented on #75
Ohhhh great catch ... yeah we're renaming `property_dealname ` (and `property_closedate` and `property_createdate`) inconsistently, depending on the value of `hubspot__pass_through_all_columns`

I've just pushed some code that renames these columns to `deal_name`, `closed_at`, and `created_at` regardless of your value for `hubspot__pass_through_all_columns` if you could re-install and try it out!

[2022-08-24 06:28] moseleyi commented on #75
Works now : )

[2022-08-25 10:49] moseleyi commented on #75
@fivetran-jamie Do I need to wait for the release?

![image](https://user-images.githubusercontent.com/16131590/186645648-16f67f27-7d85-49cd-a5cd-98211255cf0f.png)

[2022-08-25 23:29] fivetran-jamie commented on #75
ah yeah the release should come out tomorrow -- we were rolling out the source package release but uncovered a bug with dbt core that impacts some new functionality in the packages

[2022-08-29 07:46] moseleyi commented on #75
Thanks!

[2022-08-29 16:19] fivetran-jamie commented on #75
release is live so closing this one out!

[2022-08-29 16:19] #75 closed

[2022-10-05 15:32] KartikPadmanabhan opened #83 "[Bug] DBT docs are not rendered"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

FYI dbt_hubspot documentation isn't rendered in the browser. Cleared cache, and tried in various different browsers.
Link: https://fivetran.github.io/dbt_hubspot/#!/overview?g_v=1

### Relevant error log or model output

_No response_

### Expected behavior

expect the docs to be rendered

[2022-10-05 15:36] KartikPadmanabhan commented on #83
Looks like there is a pull request already: https://github.com/fivetran/dbt_hubspot/pull/82

[2022-10-14 21:54] MarcelloMolinaro opened #85 "`hubspot_engagement_call_enabled` variable misspelled on README"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

The `hubspot_engagement_call_enabled` variable is misspelled as `hubspot_engagement_calls_enabled` in the README in this section: [hubspot_engagement_call_enabled](https://github.com/fivetran/dbt_hubspot/tree/v0.6.3/#step-4-disable-models-for-non-existent-sources)

Removing the "s" fixed th

[2022-10-17 13:01] fivetran-joemarkiewicz commented on #85
Hi @MarcelloMolinaro thanks for raising this README error! This is definitely something we will want to address within our documentation so users are able to have a smoother experience.

I noticed you would be open to creating a PR to address this issue. If you would like to contribute, you can follow [these steps](https://discourse.getdbt.com/t/contributing-to-an-external-dbt-package/657) or simp

[2022-10-18 20:55] MarcelloMolinaro commented on #85
@fivetran-joemarkiewicz - I got some help on the world's tiniest PR. I hope I didn't break anything! Thanks for your help!

[2022-11-02 16:18] rbrooks opened #88 "[Bug] Your package relies on older versions of dbt-utils, which means our project is stuck on an older version"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Describe the issue

Your package relies on older versions of dbt-utils, which means our project is stuck on an older version

### Relevant error log or model output

_No response_

### Expected behavior

We're allowed to upgrade to latest dbt-utils

### dbt Project configurations

n

### Package versions

[cod

[2022-11-02 23:58] rbrooks commented on #88
THanks for the reply. 1.0 sound wise. Thank you,

[2022-11-08 09:39] moseleyi opened #90 "Disable all Ticket models"
### Is there an existing feature request for this?

- [X] I have searched the existing issues

### Describe the Feature

I would like to disable all ticket models

### Describe alternatives you've considered

_No response_

### Are you interested in contributing this feature?

- [X] Yes.
- [ ] Yes, but I will need assistance and will schedule time during your [office hours](https://calendly.com/fi

[2022-11-09 15:36] fivetran-joemarkiewicz commented on #90
Hi @moseleyi thank you for opening this issue. We actually have a variable that should allow for the disabling of all the ticket models that are generated from the source package. You should be able to add the following variable included in our [README](https://github.com/fivetran/dbt_hubspot#step-4-disable-models-for-non-existent-sources) to disable all ticket models:

[code]

Let me know if addi

[2022-11-09 18:38] moseleyi commented on #90
Ahh okay, I didn't know what "hubspot_service" entails as I couldn't find any references to Tickets. I will have a look

[2022-11-09 20:38] fivetran-joemarkiewicz commented on #90
That is a great point, we should probably update our README to highlight that service in this context pertains to the ticket models.

[2022-11-11 09:47] moseleyi commented on #90
That would be great. Of course disabling the wervice worked. Thanks @fivetran-joemarkiewicz

[2022-11-11 09:47] #90 closed